# Maven target directory
target/
*.class
*.jar
*.war
*.ear

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar  # treated as binary → better ignore

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# IntelliJ build directory
out/


# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# macOS
.DS_Store

# Temporary / Backup files
*.log
*.swp
*.swo
*.tmp
*.bak
*.old
